<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<script type="text/javascript" src="../js/labyrinthgenerator.js" th:src"@{js/labyrinthgenerator.js}"></script>
		<title>15 Puzzle</title>
		<link rel="stylesheet" href="15-puzzle.css">
		<link href="../static/css/15-puzzle.css" th:href="@{/css/15-puzzle.css}" rel="stylesheet">
				
	</head>
	
	
	<body>
		<div id="puzzle"></div>
		<div id="controls">
			<button id="solve">Solve</button>
			<button id="scramble">Scramble</button>
		</div>
	
		<p>Developed by Arnis Ritiņš</p>
		<p><a href="https://github.com/arnisritins/15-Puzzle">View source code on GitHub</a></p>
	
		<script type="text/javascript" src="../js/15-puzzle.js" th:src"@{js/15-puzzle.js}"></script>
	</body>
	
</html>